:root{
    --green: #1b6939;
    --white: #ffffff;
    --light-grey: #eeeeee;
    --black: #131313;
}

html, body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

html{
    height: 100%;
}

body{
    background-color: var(--black);
    font-family: Arial;
    width: 100%;
}

.area{
    width: 100%;
    max-width: 500px;
}

.area input{
    border-radius: 20px;
    border: 0;
    background-color: var(--light-grey);
    display: block;
    padding: 10px;
    margin: 15px auto;
    text-align: center;
    outline: none;
    color: black;
    width: 70%;
}

.area input[type = "submit"]{
    background: none;
    color: var(--white);
    width: 73.5%;
    border: 2px solid var(--green);
}

@media (pointer: fine) {
    .area input[type = "submit"]:hover{
        background-color: var(--green);
        cursor: pointer;
    }
}

.area input[type = "submit"]:active{
    background-color: var(--green);
}

